<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Campaign Creator | Trilling Treks</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body>
<section id="home-page-buttons">
    <form method="post" action="create">
        <button type="button" onclick="location.href = '/campaign-creator'">CREATE A CAMPAIGN</button>
        <button type="button" onclick="location.href = '/campaigns'">VIEW EXISTING CAMPAIGNS</button>
        <button type="button" onclick="location.href = '/sign-in'">SIGN IN</button>
    </form>
</section>
</body>
</html>