<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Campaign Creator | Trilling Treks</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="../static/css/styles.css" th:href="@{/css/styles.css}"/>
    <script>
        let screenIndex = 1;
        let optionIndex = 1;

        function addScreen(campaignFormId) {
            let campaignForm = document.getElementById(campaignFormId);
            campaignForm.innerHTML += "<div id='screen" + (screenIndex++) + "'>" +
                "<input type='text' name='message'/>" +
                "<div id='option" + (optionIndex++) + "'>" +
                "<input type='text' name='message'/>" +
                "<input type='number' min='0' name='nextScreenId'>" +
                "</div>" +
                "</div>";
        }

        function addOption(screenDivId) {
            let screenDiv = document.getElementById(screenDivId);
            screenDiv.innerHTML += "<div id='option" + (optionIndex++) + "'>" +
                "<input type='text' name='message'/>" +
                "<input type='number' min='0' name='nextScreenId'>" +
                "</div>";
        }
    </script>
</head>
<body>
<header>
    <div id="title">
        <p>
            Thrilling Treks
        </p>
    </div>
    <button sec:authorize="!isAuthenticated()" id="sign-in-button" type="button"
            onclick="location.href = '/sign-in-page'">Sign in
    </button>
    <button sec:authorize="!isAuthenticated()" id="sign-up-button" type="button"
            onclick="location.href = '/sign-up-page'">Sign up
    </button>
    <p id="user-info" sec:authorize="isAuthenticated()" sec:authentication="name"></p>
    <button sec:authorize="isAuthenticated()" id="sign-out-button" type="button"
            onclick="location.href = '/sign-out'">Sign out
    </button>
</header>
<section class="child-centering-column-container stretched">
    <form id="campaign-form" action="#" method="post" th:action="@{/create-campaign}"
          class="child-centering-column-container buttons-and-inputs-container">
        <label>
            Campaign name
            <input type="text" id="name" name="name"/>
        </label>
        <label>
            Description
            <input type="text" id="description" name="description"/>
        </label>
        <input type="hidden" id="authorId" name="authorId" th:value="${session.userId}"/>
        <div id="screen-0">
            <label>
                Screen message
                <input type='text' name='message'/>
            </label>
            <div id='option" + (optionIndex++) + "'>
                <label>
                    Option message
                    <input type='text' name='message'/>
                </label>
                <label>
                    Screen to go to
                    <input type='number' min='0' name='nextScreenId'>
                </label>
            </div>
            <button onclick="addOption('screen-0')">+</button>
        </div>
        <button onclick="addScreen('campaign-form')">+</button>
        <input type="submit" value="Submit & create"/>
    </form>
</section>

</body>
</html>